<h3>Statistics:</h3>
<ul>
  <li>Parsed stocks count: <%= Stock.all.size %></li>
  <li>Parsed statements count: <%= Statement.all.size %></li>
  <li>Parsed XBRL names count: <%= Item.all.size %></li>
</ul>
<hr>
<p>Exactly matched XBRL names 說明: <br>某股票的某季財報其 Standard Item 在 Google Finance 的數值與對應的 XBRL 檔案做比較，若 XBRL 只找到唯一的一個 element，則此 element 即為 exactly matched element，element name 即為 exactly matched XBRL name</p>
<hr>
<h3>Results</h3>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Standard Item Name (from Google Finance)</th>
      <th>Number of <span style="color: red">exactly</span> matched XBRL names</th>
      <th>Number of total XBRL names</th>
    </tr>
  </thead>
  <tbody style="font-family: Verdana">
  <% @s_items.each do |si| %>
  <tr>
    <td><%= link_to "#{si.name}", standard_item_path(si), target: '_blank' %></td>
    <td><%= "#{si.items.joins(:item_standard_item_pairs).where(item_standard_item_pairs:{is_exactly_matched: true}).uniq.size}" %></td>
    <td><%= "#{si.items.size}" %></td>
  </tr>
  <% end %>
  </tbody>
</table>
