<h3><%= @si.name %></h3>
<hr>
<h4>List of exactly matched items</h4>
<table class="table table-striped table-condensed">
  <thead>
    <th>Item name</th>
  </thead>
  <tbody style="font-family: Verdana">
  <% @si.items.where(item_standard_item_pairs: {is_exactly_matched: true}).each do |item| %>
    <tr>
      <td>
        <% if item.namespace != 'us-gaap' %><%= "#{item.namespace}:" %><% end %>
        <%= link_to "#{item.name}", item_path(item), target: '_blank' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<hr>
<h4>List of <span style="color: red;">NOT</span> exactly matched items</h4>
<table class="table table-striped table-condensed">
  <thead>
    <th>Item name</th>
  </thead>
  <tbody style="font-family: Verdana">
  <% @si.items.where(item_standard_item_pairs: {is_exactly_matched: false}).each do |item| %>
    <tr>
      <td>
        <% if item.namespace != 'us-gaap' %><%= "#{item.namespace}:" %><% end %>
        <%= link_to "#{item.name}", item_path(item), target: '_blank' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


