<h3>標準欄位名稱 <span style='color: brown'><%= @si.name %> </span>之統計資料</h3>

<hr>

<% ratio = @si.coverage_ratio %>
<% if ratio == nil %>
  <h4>Coverage ratio: 無資料</h4>
<% else %>
  <h4>Coverage ratio: <%= (@si.coverage_ratio*100).round(1) %> %</h4>
<% end %>


<hr>

<h4>此區為 <%= @si.name %> 對應的可能 XBRL 名稱 </h4>
<table class="table table-striped table-condensed">
  <thead>
    <th>XBRL名稱</th>
    <th>含此XBRL名稱之股票總數</th>
  </thead>
  <tbody style="font-family: Verdana">
  <% @exactly_matched_items.each do |item| %>
    <tr>
      <td>
        <% if item.namespace != 'us-gaap' %><%= "#{item.namespace}:" %><% end %>
        <%= link_to "#{item.name} ", item_path(item), target: '_blank' %>
      </td>
      <td>
         <%= "#{item.stocks.size}" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>


<h4>此區可能為 <%= @si.name %> 對應之 XBRL 名稱，但包含較多非正確對應的 XBRL 名稱</h4>
<table class="table table-striped table-condensed">
  <thead>
    <th>XBRL名稱</th>
    <th>含此XBRL名稱之股票總數</th>
  </thead>
  <tbody style="font-family: Verdana">
  <% @not_exactly_matched_items.each do |item| %>
    <tr>
      <td>
        <% if item.namespace != 'us-gaap' %><%= "#{item.namespace}:" %><% end %>
        <%= link_to "#{item.name}", item_path(item), target: '_blank' %>
      </td>
      <td>
         <%= "#{item.stocks.size}" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


