<tr>

  <!-- render td: item name -->
  <%= render_item(item, 28) %>

  <!-- 共 xx 檔 -->
  <%# stocks = item.statements.map(&:stock).uniq.sort_by{|stock|stock.ticker} %>
  <td class='stock-info'><span class='stock-count toggleable-switch'>共 <%= item.stocks.size %> 檔</span>

      <ul class='toggleable' style='display: none'>

      <% item.stocks.each do |stock| %>
        <li>

          <!-- 2330 (x 次) -->
          <span class="ticker toggleable-switch"><%= "#{stock.ticker} (#{stock.statements.size} 次)" %></span>

          <ul class='toggleable' style='display: none'>

          <% stock.statements.order(:year, :quarter).each do |st| %>
            <li><%= "#{st.year} Q#{st.quarter}" %></li>
          <% end %>

          </ul>
        </li>
      <% end %>

      </ul>

  </td>
</tr>

<%= render partial: 'parsers/item', collection: item.children, as: :item %>
