<% if @sub_category.blank? || item.is_sub_category?(@sub_category) %>

<tr>

  <!-- render td: item name -->
  <%= render_item(item, 28) %>

  <!-- 共 xx 檔 -->
  <td class='stock-info'>
    <%= render_stock_count(item, @category, @sub_category) %>

      <ul class='toggleable' style='display: none'>

      <%# if @sub_category.present? && item.is_sub_category?(@sub_category) %>
      <% item.stocks.each do |stock| %>
        <li>

          <!-- 2330 (x 次) -->
          <span class="ticker toggleable-switch"><%= "#{stock.ticker} (#{stock.statements.size} 次)" %></span>

          <ul class='toggleable' style='display: none'>

          <% stock.statements.order(:year, :quarter).each do |st| %>
            <li><%= "#{st.year} Q#{st.quarter}" %></li>
          <% end %>

          </ul>
        </li>
      <% end %>

      </ul>

  </td>
</tr>

<% end %>


<!-- render first child -->
<% unless item.leaf? %>
  <%= render partial: 'parsers/item_with_order', locals: {item: item.children.first_item} %>
<% end %>

<!-- render next sibling -->
<% if item.next_item.present? %>
  <%= render partial: 'parsers/item_with_order', locals: {item: item.next_item} %>
<% end %>
