<!-- 抓取資料 -->
<div id="search-area">
<%= form_tag({controller: 'parsers', action: 'parse'}, method: 'get', id: 'search-form') do %>
  <%= label_tag(:ticker, "抓取 TWSE 股號: ") %> <%= number_field_tag(:ticker, nil, min: 1000, max: 9999) %>
  <%= select_tag(:year, options_for_select([ ['2014', 2014], ['2013', 2013]], 1)) %>
  <%= select_tag(:quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4]], 1)) %>
  <%= submit_tag("Parse") %>
<% end %>
</div>

<hr>

<!-- 顯示資料 -->
<div class='result-links'>
  <h4><%= link_to '顯示 IFRS 分析資料', controller: 'parsers', action: 'ifrs' %></h4>
</div>
