<!-- 抓取資料 -->
<div class="search-area">
<%= form_tag({controller: 'parsers', action: 'parse'}, method: 'post', id: 'search-form') do %>
  <span>抓個股</span>
  <%= label_tag(:ticker, "TWSE 股號: ") %> <%= number_field_tag(:ticker, nil, min: 1000, max: 9999) %>
  <span> From: </span>
  <%= select_tag(:start_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:start_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span> To: </span>
  <%= select_tag(:end_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:end_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span>類型:</span>
  <%= select_tag(:s_subtype, options_for_select([ ['合併', 'c'], ['非合併', 'i'] ], 'c')) %>
  <%= submit_tag("抓資料") %>
<% end %>
</div>

<hr>

<div class="search-area">
<%= form_tag({controller: 'parsers', action: 'parse_bank_stocks'}, method: 'post', id: 'search-form') do %>
  <span>抓<b>銀行類股</b> From: </span>
  <%= select_tag(:start_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:start_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span> To: </span>
  <%= select_tag(:end_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:end_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span>類型:</span>
  <%= select_tag(:s_subtype, options_for_select([ ['合併', 'c'], ['非合併', 'i'] ], 'c')) %>
  <%= label_tag(:start_ticker, "從此檔開始: ") %> <%= number_field_tag(:start_ticker, nil, min: 1000, max: 9999) %>
  <%= submit_tag("抓資料") %>
<% end %>
</div>

<hr>

<div class="search-area">
<%= form_tag({controller: 'parsers', action: 'parse_insurance_stocks'}, method: 'post', id: 'search-form') do %>
  <span>抓<b>保險類股</b> From: </span>
  <%= select_tag(:start_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:start_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span> To: </span>
  <%= select_tag(:end_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:end_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span>類型:</span>
  <%= select_tag(:s_subtype, options_for_select([ ['合併', 'c'], ['非合併', 'i'] ], 'c')) %>
  <%= label_tag(:start_ticker, "從此檔開始: ") %> <%= number_field_tag(:start_ticker, nil, min: 1000, max: 9999) %>
  <%= submit_tag("抓資料") %>
<% end %>
</div>

<hr>

<div class="search-area">
<%= form_tag({controller: 'parsers', action: 'parse_broker_stocks'}, method: 'post', id: 'search-form') do %>
  <span>抓<b>證券類股</b> From: </span>
  <%= select_tag(:start_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:start_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span> To: </span>
  <%= select_tag(:end_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:end_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span>類型:</span>
  <%= select_tag(:s_subtype, options_for_select([ ['合併', 'c'], ['非合併', 'i'] ], 'c')) %>
  <%= label_tag(:start_ticker, "從此檔開始: ") %> <%= number_field_tag(:start_ticker, nil, min: 1000, max: 9999) %>
  <%= submit_tag("抓資料") %>
<% end %>
</div>

<hr>

<div class="search-area">
<%= form_tag({controller: 'parsers', action: 'parse_financial_stocks'}, method: 'post', id: 'search-form') do %>
  <span>抓<b>所有金融類股</b> From: </span>
  <%= select_tag(:start_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:start_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span> To: </span>
  <%= select_tag(:end_year, options_for_select(@year_list, @default_year)) %>
  <%= select_tag(:end_quarter, options_for_select([ ['Q1', 1], ['Q2', 2], ['Q3', 3], ['Q4', 4] ], 1)) %>
  <span>類型:</span>
  <%= select_tag(:s_subtype, options_for_select([ ['合併', 'c'], ['非合併', 'i'] ], 'c')) %>
  <%= label_tag(:start_ticker, "從此檔開始: ") %> <%= number_field_tag(:start_ticker, nil, min: 1000, max: 9999) %>
  <%= submit_tag("抓資料") %>
<% end %>
</div>

<hr>

<!-- 顯示資料 -->
<div>
  <div class='result-links'>
    <h3>查看分析資料</h3>
    <ul>
      <li>銀行類股
        <ul>
          <li><%= link_to 'IFRS 全部', {controller: 'parsers', action: 'ifrs', table_name: 'root', category: 'finance', sub_category: 'bank'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 資產負債表', {controller: 'parsers', action: 'ifrs', table_name: 'bs', category: 'finance', sub_category: 'bank'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 綜合損益表', {controller: 'parsers', action: 'ifrs', table_name: 'is', category: 'finance', sub_category: 'bank'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 現金流量表', {controller: 'parsers', action: 'ifrs', table_name: 'cf', category: 'finance', sub_category: 'bank'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 全部', {controller: 'parsers', action: 'gaap', table_name: 'root', category: 'finance', sub_category: 'bank'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 資產負債表', {controller: 'parsers', action: 'gaap', table_name: 'bs', category: 'finance', sub_category: 'bank'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 綜合損益表', {controller: 'parsers', action: 'gaap', table_name: 'is', category: 'finance', sub_category: 'bank'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 現金流量表', {controller: 'parsers', action: 'gaap', table_name: 'cf', category: 'finance', sub_category: 'bank'}, target: '_blank' %></li>
        </ul>
      </li>
      <li>保險類股
        <ul>
          <li><%= link_to 'IFRS 全部', {controller: 'parsers', action: 'ifrs', table_name: 'root', category: 'finance', sub_category: 'insurance'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 資產負債表', {controller: 'parsers', action: 'ifrs', table_name: 'bs', category: 'finance', sub_category: 'insurance'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 綜合損益表', {controller: 'parsers', action: 'ifrs', table_name: 'is', category: 'finance', sub_category: 'insurance'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 現金流量表', {controller: 'parsers', action: 'ifrs', table_name: 'cf', category: 'finance', sub_category: 'insurance'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 全部', {controller: 'parsers', action: 'gaap', table_name: 'root', category: 'finance', sub_category: 'insurance'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 資產負債表', {controller: 'parsers', action: 'gaap', table_name: 'bs', category: 'finance', sub_category: 'insurance'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 綜合損益表', {controller: 'parsers', action: 'gaap', table_name: 'is', category: 'finance', sub_category: 'insurance'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 現金流量表', {controller: 'parsers', action: 'gaap', table_name: 'cf', category: 'finance', sub_category: 'insurance'}, target: '_blank' %></li>
        </ul>
      </li>
      <li>證券類股
        <ul>
          <li><%= link_to 'IFRS 全部', {controller: 'parsers', action: 'ifrs', table_name: 'root', category: 'finance', sub_category: 'broker'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 資產負債表', {controller: 'parsers', action: 'ifrs', table_name: 'bs', category: 'finance', sub_category: 'broker'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 綜合損益表', {controller: 'parsers', action: 'ifrs', table_name: 'is', category: 'finance', sub_category: 'broker'}, target: '_blank' %></li>
          <li><%= link_to 'IFRS 現金流量表', {controller: 'parsers', action: 'ifrs', table_name: 'cf', category: 'finance', sub_category: 'broker'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 全部', {controller: 'parsers', action: 'gaap', table_name: 'root', category: 'finance', sub_category: 'broker'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 資產負債表', {controller: 'parsers', action: 'gaap', table_name: 'bs', category: 'finance', sub_category: 'broker'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 綜合損益表', {controller: 'parsers', action: 'gaap', table_name: 'is', category: 'finance', sub_category: 'broker'}, target: '_blank' %></li>
          <li><%= link_to 'GAAP 現金流量表', {controller: 'parsers', action: 'gaap', table_name: 'cf', category: 'finance', sub_category: 'broker'}, target: '_blank' %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <div class='not-parsed-stock'>
      <h3>未抓過的股票</h3>
      <ul>
        <% @not_parsed_stocks.each do |stock| %>
        <li><%= stock %></li>
        <% end %>
      </ul>
    </div>

    <div class='existing-data'>
      <h3>已抓資料</h3>
      <ul>
        <% @stocks.each do |stock| %>
          <li><%= "#{stock.ticker} (#{stock.sub_category})" %></li>
          <ul>
            <% stock.statements.order(:year, :quarter).each do |st| %>
              <li><%= "#{st.year} Q#{st.quarter}" %></li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
  </div>
</div>
