<h3><%= link_to '<< 回前頁', controller: 'parsers', action: 'index' %></h3>
<% if @s.result.nil? %>
  <div class="alert alert-danger">查無資料</div>
  <p><%= @s.inspect %></p>
<% else %>
  <div class="alert alert-success"><%= "#{@s.ticker} (#{@s.category}), #{@s.year}Q#{@s.quarter}" %> <br>結果如下 (data source: <%= @s.data_source %>)</div>
  <h2>資產負債表</h2>
  <p><%= @s.bs_content %></p>
  <h2>損益表</h2>
  <p><%= @s.is_content %></p>
  <h2>現金流量表</h2>
  <p><%= @s.is_content %></p>
<% end %>
<%# @s.is_table_nodeset.css('tbody>tr').each do |s| %>
<!--   <p><%#= s.content %></p>
  <div style="margin: 20px"></div> -->
<%# end %>
